.list-container {
  width: 100%;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-scroll::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: none;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: lightgreen;
  border-radius: 1vmax;
  cursor: pointer;
}
